* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: #333;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100svh;
    overflow: hidden;
}

#game-board {
    --cell-size: 80vmin;
    --cell-gap: 8vmin;
    --border-radius: 4vmin;
    --font-size: 30vmin;
    position: relative;
    display: grid;
    grid-template-columns: repeat(var(--cell-count), calc(var(--cell-size) / var(--cell-count)));
    grid-template-rows: repeat(var(--cell-count), calc(var(--cell-size) / var(--cell-count)));
    gap: calc(var(--cell-gap) / var(--cell-count));
    border-radius: 1vmin;
}

.cell {
    background-color: #444;
    border-radius: calc(4vmin / var(--cell-count));
    box-shadow: inset 2px 2px 2px rgba(255, 255, 255, 0.2), inset -2px -2px 2px rgba(2, 3, 19, 0.2);
}

.tile {
    position: absolute;
    top: calc(
        var(--y) *
            (calc(var(--cell-size) / var(--cell-count) + var(--cell-gap) / var(--cell-count)))
    );
    left: calc(
        var(--x) *
            (calc(var(--cell-size) / var(--cell-count) + var(--cell-gap) / var(--cell-count)))
    );
    display: flex;
    justify-content: center;
    align-items: center;
    width: calc(var(--cell-size) / var(--cell-count));
    height: calc(var(--cell-size) / var(--cell-count));
    border-radius: calc(var(--border-radius) / var(--cell-count));
    font-family: Arial, Helvetica, sans-serif;
    font-size: calc(var(--font-size) / var(--cell-count));
    font-weight: bold;
    background-color: hsl(25, 60%, var(--bg-lightness));
    color: hsl(20, 25%, var(--text-lightness));
    animation: show 300ms ease-in-out;
    transition: all 1000ms ease-in-out;
    will-change: transform;
}

@keyframes show {
    0% {
        opacity: 0;
        transform: scale(0);
    }
}
